html, body, #root {
    height: 100%;
    width: 100%;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: white;
    margin: 0;
    box-sizing: border-box
}
